---
- name: Generateur de Configuration
  hosts: localhost
  connection: local
  gather_facts: no
  vars:
    # --- VALEURS PAR DEFAUT ---
    hostname: "ROUTEUR-DEFAULT"
    password: "CiscoPassword123!"
    site_code: "SITE-XX"
    wan_ip: "192.0.2.10"
    wan_mask: "255.255.255.0"
    wan_gateway: "192.0.2.1"
    lan_data_network: "10.0.10.0"
    lan_data_mask: "255.255.255.0"
    lan_data_gateway: "10.0.10.254"
    lan_data_wildcard: "0.0.0.255"
    lan_voip_network: "10.0.20.0"
    lan_voip_mask: "255.255.255.0"
    lan_voip_gateway: "10.0.20.254"
    lan_voip_wildcard: "0.0.0.255"
    p2p_local_ip: "10.255.0.2"
    p2p_neighbor_ip: "10.255.0.1"

  tasks:
    - name: Generation du fichier de config
      template:
        src: templates/cisco_full.j2
        dest: "/tmp/{{ hostname }}.cfg"

    # Etape 1 : On lit le fichier comme un humain
    - name: LECTURE DU FICHIER
      command: cat "/tmp/{{ hostname }}.cfg"
      register: resultat_lecture

    # Etape 2 : On affiche les lignes proprement
    - name: AFFICHER LA CONFIGURATION
      debug:
        var: resultat_lecture.stdout_lines
