---
- name: Generateur de Configuration
  hosts: localhost
  connection: local
  gather_facts: no
  vars:
    # --- VALEURS PAR DEFAUT ---
    hostname: "ROUTEUR-DEFAULT"
    admin_password: "CiscoPassword123!" # <--- Nouveau
    site_code: "SITE-XX"
    wan_type: "cuivre"                  # <--- Nouveau (cuivre ou fibre)
    
    wan_ip: "192.0.2.10"
    wan_mask: "255.255.255.252"
    wan_gateway: "192.0.2.9"
    
    lan_data_network: "10.0.10.0"
    lan_data_mask: "255.255.255.0"
    lan_data_gateway: "10.0.10.254"
    lan_data_wildcard: "0.0.0.255"
    
    lan_voip_network: "10.0.20.0"
    lan_voip_mask: "255.255.255.0"
    lan_voip_gateway: "10.0.20.254"
    lan_voip_wildcard: "0.0.0.255"
    
    bgp_neighbor_ip: "10.200.1.1"

  tasks:
    - name: Generation du fichier de config
      template:
        src: templates/cisco_full.j2
        dest: "/tmp/{{ hostname }}.cfg"

    - name: LECTURE DU FICHIER
      command: cat "/tmp/{{ hostname }}.cfg"
      register: resultat_lecture

    - name: AFFICHER LA CONFIGURATION
      debug:
        var: resultat_lecture.stdout_lines
