hostname {{ hostname }}
!
ip cef
no ipv6 cef
ip domain name cl-hosting.internal
multilink bundle-name authenticated
username clh-admin privilege 15 secret {{ password }}
ip ssh version 2
crypto key generate rsa modulus 2048
line vty 0 4 
 transport input SSH
!
! ===== DHCP LAN DATA =====
ip dhcp pool LAN-{{ site_code }}
 network {{ lan_data_network }} {{ lan_data_mask }}
 default-router {{ lan_data_gateway }} 
 domain-name capra.internal
 dns-server 10.200.4.1 8.8.8.8
 option 167 ascii FALSE
 option 199 ascii defa-{{ site_code }}
 option 165 ascii 10.200.4.12:443
 option 166 ascii 10.200.4.12:1883
 lease 8
!
! ===== DHCP LAN VOIP =====
ip dhcp pool VOIP-{{ site_code }}
 network {{ lan_voip_network }} {{ lan_voip_mask }}
 dns-server 8.8.8.8
 default-router {{ lan_voip_gateway }}
 option 150 ip 185.196.62.164
 lease 8
!
! ===== INTERFACES =====
interface Embedded-Service-Engine0/0
 no ip address
 shutdown
!
interface GigabitEthernet0/0
 description WAN INTERNET
 ip address {{ wan_ip }} {{ wan_mask }}
 ip nat outside
 ip virtual-reassembly in
 duplex auto
 speed auto
 no shutdown
!
interface GigabitEthernet0/1
 description LAN DATA
 ip address {{ lan_data_gateway }} {{ lan_data_mask }}
 ip nat inside
 ip virtual-reassembly in
 duplex auto
 speed auto
 no shutdown
!
interface GigabitEthernet0/1.130
 description LAN VOIP
 encapsulation dot1Q 130
 ip address {{ lan_voip_gateway }} {{ lan_voip_mask }}
 ip nat inside
 ip virtual-reassembly in
 no shutdown
!
interface GigabitEthernet0/0/0
 description LIEN BGP CORE
 ip address {{ p2p_local_ip }} 255.255.255.252
 no shutdown
!
! ===== BGP =====
router bgp 64999
 bgp log-neighbor-changes
 neighbor {{ p2p_neighbor_ip }} remote-as 65500
 !
 address-family ipv4
  network {{ lan_data_network }} mask {{ lan_data_mask }}
  network {{ lan_voip_network }} mask {{ lan_voip_mask }}
  neighbor {{ p2p_neighbor_ip }} activate
 exit-address-family
!
ip nat inside source list 1 interface GigabitEthernet0/0 overload
ip route 0.0.0.0 0.0.0.0 {{ wan_gateway }}
!
access-list 1 permit {{ lan_data_network }} {{ lan_data_wildcard }}
access-list 1 permit {{ lan_voip_network }} {{ lan_voip_wildcard }}
!
line con 0
 logging synchronous
line aux 0
line vty 0 4
 login local
 transport input ssh
!
end
